


  ul li .nav-link .active {
    color: rgb(255, 15, 15);
    


  }
.section-1 {
    background: #ffffff;
}

.section-2 {
    background: #F1F1F1;
}

.section-3 {
    background: #EAEAEA;
}

.section-4 {
    background: #E5E5E5;
}
/* Hover Effect 3 */
.hover-effect-3 {
    position: relative;
    padding: 0.5rem 0;
  }
  
  .hover-effect-3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease-in-out;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
  }
  
  .hover-effect-3:hover::before {
    transform: translateX(-50%) scale(1);
  }
  #ftco-nav {
    flex-direction: row-reverse;
  }
  

  
  .navbar-nav .nav-link.active {
   
    border-bottom-color: #aa2626;
  }
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  